
body {
    background-color: var(--bg-color);
    color: var(--text-color);
}




:root {


    --text-color: black;
}

:root :has(#dark-mode:checked) {
    --bg-color: rgb(18,24,38);
    --text-color: rgb(154,159,170);

}
