@import "tailwindcss";
/* index.css یا فایل استایل اصلی */
html {
    scroll-behavior: smooth;
}



@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
             font-family: "Roboto", sans-serif;
             font-optical-sizing: auto;
             font-variation-settings:
                     "wdth" 100;
         }

